<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- jQuery required by (amoun others) bootstrap. -->
    <script src="/Scripts/3rdparty/jquery/jquery-3.6.0.min.js"></script>
    <script src="/Scripts/3rdparty/moment.js"></script>
    <!-- Bootstrap 4.6.1  -->
    <link href="/Content/3rdparty/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="/Scripts/3rdparty/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- FontsAwesome Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/Content/Site.css" rel="stylesheet">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("BataTrbo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Settings", "Settings", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Radios", "Radios", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Queue", "MessageQueue", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Logs", "Logs", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Swagger", "Swagger", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/swagger/ui/index">Swagger (Redirect)</a>
                        @Html.ActionLink("API", "Index", "Help", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Playground", "Playground", "Home", new { area = "" }, new { @class = "dropdown-item" })
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="genericErrorContainer" class="form-group row" style="display: none;">
            <div id="genericInnerErrorContainer" class="alert alert-danger" role="alert">
                <div id="genericAlertMessage">
                    Unable to save SystemSettings.
                </div>
                <ul id="genericErrorList" class="navbar-nav mr-auto"></ul>
            </div>
        </div>
        @RenderBody()

        @RenderSection("scripts", required: false)
</body>
</html>